:root{
	--white:#FFFFFF;
	--themeBackground:orange;
	--globalFont:"MyFont";
	--bannerYun:url("../image/bannerWave1.png");
	--bannerYun2:url("../image/bannerWave2.png");
}
@font-face {
	font-family:MyFont;
	src: url("../font/xs.otf");
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4939850 */
  src: url('//at.alicdn.com/t/c/font_4939850_82mfupj3x1.woff2?t=1749023249263') format('woff2'),
       url('//at.alicdn.com/t/c/font_4939850_82mfupj3x1.woff?t=1749023249263') format('woff'),
       url('//at.alicdn.com/t/c/font_4939850_82mfupj3x1.ttf?t=1749023249263') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
	
	
/* 通用css */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flexBetWeen{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flexCenter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flexCenterCol{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 图片 */
.background-image{
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}